#product_carousel {
    border: 2px solid red;
    background-color: lightyellow;
}

.product-slide {
    border: 1px dashed blue;
}

.homepage-product-listing {
    background-color: red;
}

.home-page {
    background-color: red;
}
